$btn-sizes: (
        'default': 40,
        'large': 54
);
$btn-border-radius: 8px !default;
$btn-text-transform: capitalize;
$body-font-family: 'Public Sans';
$card-shaped-border-radius: 16px;
$toolbar-shaped-border-radius: 16px;
