
$btn-sizes: (
        'default': 40,
        'large': 54
);
$btn-border-radius: 8px !default;
$btn-text-transform: capitalize;
//$btn-round-border-radius: 50% !default;
//$btn-rounded-border-radius: 28px !default;
